.section-seacrh input {
	padding: 5px !important;
	font-size: 18px !important;
	width: 90% !important;
	border: #f4f4f4 3px solid !important;
}

'.section-follow .fa-4x {
	margin: 5px 10px;
}

.contact .btn {
	color: black !important;
}
 

.wrapper {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-column-gap: 2rem;
	grid-row-gap: 1em;

}

.music-item{
	position: relative;
	margin: 0;
}

.music-item iframe{
	display: block;
